<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>New Bug is created by qa </h4>

    <p>Check the Bug!</p>
  </body>
</html>
