<h1>Welcome Manager</h1>
<h3>Create Project</h3>
<%= link_to  "New Project", new_project_path %>
<h3>View all Projects</h3>
<%= link_to  "View all Projects", projects_path %>
<h3>Edit and delete Projects</h3>
<%= link_to  "Edit and delete projects", projects_path %>
<h3>Add Developers and Qas to projects</h3>
<%= link_to  "Add Developer and Qas to project", dashboard_managers_show_path %>
<h3>Remove Developers and Qas from projects</h3>
